@import "../../font/font.css";

:root {
    --default-grid-offset: 14px;
}

.admin-content-background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: whitesmoke;
    display: flex;
}

.admin-content-background-left,
.admin-content-background-right {
    position: relative;
    margin-top: var(--default-grid-offset);
    height: calc(100% - 2 * var(--default-grid-offset));
}

.admin-content-background-left {
    width: calc(82% - var(--default-grid-offset));
    margin-left: var(--default-grid-offset);
}

.admin-content-background-right {
    width: calc(18% - 2 * var(--default-grid-offset));
    margin-left: var(--default-grid-offset);
}

.admin-content-background-right-column {
    width: 100%;
    height: 100%;
}
