@import "../../font/font.css";

:root {
    --default-grid-offset: 14px;
}

.admin-content-background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: whitesmoke;
    display: grid;
    grid-template-columns: 19% 1% 80%;
}

.admin-content-background-left,
.admin-content-background-right {
    position: relative;
    margin-top: 10px;
    width: calc(100% - var(--default-grid-offset));
    height: calc(100% - 2 * var(--default-grid-offset));
}

.admin-content-background-left {
    margin-left: var(--default-grid-offset);
}

.admin-content-background-right {
    margin-right: var(--default-grid-offset);
    float: right;
}

.admin-content-background-left-column {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-rows: 240px 1fr;
    grid-gap: var(--default-grid-offset);
}
