@import "../../font/font.css";
@import "../../css/commons/variables.css";

.logout-button-main {
    margin-top: 10px;
    width: 100%;
    height: fit-content;
}

.logout-button-inner {
    float: right;
    color: white;
    text-decoration: none;
    background-color: var(--global-default-tomara-color);
    font-family: alk-sanet, sans-serif;
    font-size: 16px;
    padding: 8px 12px;
    border-radius: 5px;
}

.logout-button-inner:hover {
    background-color: var(--global-darker-tomara-color);
}
