@import "../../font/font.css";

.logout-button-main {
    margin-top: 10px;
    width: 100%;
    height: fit-content;
}

.logout-button-inner {
    float: right;
    color: white;
    text-decoration: none;
    background-color: rgba(154, 0, 0, 0.7);
    font-family: alk-sanet, sans-serif;
    font-size: 16px;
    padding: 8px 12px;
    border-radius: 5px;
}

.logout-button-inner:hover {
    background-color: rgba(154, 0, 0, 1);
}
