@import "../../font/font.css";

.offers-monitor-view-container {
    width: 750px;
    height: 450px;
    border-radius: 5px;
    background-color: white;
    overflow: hidden;
}

.offers-monitor-view-offer-header {
    width: 100%;
    height: 35px;
}

.offers-monitor-view-offer-reload {
    position: relative;
    outline: none;
    border: none;
    border-radius: 8px;
    background-color: rgba(154, 0, 0, 0.7);
    font-family: alk-sanet, sans-serif;
    color: white;
    padding: 7px;
    cursor: pointer;
    top: 50%;
    left: 8px;
    -webkit-transform: translate(0, -50%);
}

.offers-monitor-view-offer-reload:hover {
    background-color: rgba(154, 0, 0, 1);
}

.offers-monitor-view-container-lower {
    display: flex;
}

.offers-monitor-view-offer-add,
.offers-monitor-view-offer-delete {
    width: 100%;
    height: 100%;
}

.offers-monitor-view-offer-header-name,
.offers-monitor-view-count-info {
    width: 100%;
    padding: 0;
    margin: 0;
    text-align: center;
    font-family: bpg-arial, sans-serif;
    color: grey;
}

.offers-monitor-view-offer-header-name {
    font-size: 20px;
}

.offers-monitor-view-count-info {
    font-size: 12px;
}

.offers-monitor-view-entry-table-wrapper {
    margin-top: 5%;
    margin-left: 5%;
    width: 90%;
    max-height: 80%;
}

.offers-monitor-view-entry-table {
    display: grid;
    grid-template-columns: 100%;
}

.offers-monitor-view-entry-table-empty-filler {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: grey;
    font-size: 24px;
    font-family: alk-sanet, sans-serif;
}

.offers-monitor-view-entry-table-rows {
    overflow-y: scroll;
    height: 290px;
    border-left: 1px solid grey;
    border-bottom: 1px solid grey;
    border-right: 1px solid grey;
    border-radius: 0 0 3px 3px;
    box-sizing: border-box;
}
.offers-monitor-view-entry-table-rows::-webkit-scrollbar {
    width: 0;
}

.offers-monitor-view-entry-table-header-row,
.offers-monitor-view-entry-table-row {
    display: grid;
    grid-template-columns: 10% 50% 15% 25%;
}

.offers-monitor-view-entry-table-row:nth-child(even) .offers-monitor-view-entry-table-cell {
    background-color: rgba(252, 252, 252);
}

.offers-monitor-view-entry-table-row:nth-child(odd) .offers-monitor-view-entry-table-cell {
    background-color: rgba(232, 232, 232);
}

.offers-monitor-view-entry-table-header-cell {
    padding: 10px;
    text-align: center;
    background-color: rgba(154, 0, 0, 0.8);
    color: white;
    font-size: 16px;
    font-family: alk-sanet, sans-serif;
    border-right: 1px solid white;
}

.offers-monitor-view-entry-table-cell {
    padding: 6px;
    font-family: bpg-arial, sans-serif;
    border-right: 1px solid white;
}

.offers-monitor-view-entry-table-header-cell:first-child,
.offers-monitor-view-entry-table-cell:first-child {
    border-radius: 6px 0 0 0;
}

.offers-monitor-view-entry-table-header-cell:last-child,
.offers-monitor-view-entry-table-cell:last-child {
    border-radius: 0 6px 0 0;
    border-right: none;
}

.offers-monitor-view-entry-table-cell-action-yes,
.offers-monitor-view-entry-table-cell-action-no {
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
}

.offers-monitor-view-entry-table-cell-action-yes {
    background-color: rgba(0, 255, 0, 1);
}
.offers-monitor-view-entry-table-cell-action-no {
    background-color: rgba(255, 0, 0, 1);
}
