@import "../../font/font.css";
@import "../../css/commons/variables.css";

.info-bottom-container-light,
.info-bottom-container-dark {
    width: 100%;
    height: 230px;
}
.info-bottom-container-light {
    background-color: rgba(255, 255, 255, 1);
}
.info-bottom-container-dark {
    background-color: rgba(0, 0, 0, 1);
}

.info-bottom-center-container-light,
.info-bottom-center-container-dark {
    display: flex;
    width: fit-content;
    justify-content: center;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}
.info-bottom-center-container-light {
    color: #121212;
}
.info-bottom-center-container-dark {
    color: white;
}

.info-bottom-title {
    margin-top: 35px;
    font-family: alk-sanet, sans-serif;
    font-size: 22px;
    text-align: center;
}

.info-bottom-icons {
    margin: 10px auto;
    width: 40%;
    display: flex;
    justify-content: space-between;
}
.info-bottom-icons i:hover {
    color: var(--global-default-tomara-color) !important;
}

.info-bottom-texts p {
    font-size: 16px;
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: bpg-arial, sans-serif;
}

.info-bottom-texts-admin-light,
.info-bottom-texts-admin-dark {
    margin-top: 30px !important;
}
.info-bottom-texts-admin-light a,
.info-bottom-texts-admin-dark a {
    text-decoration: none;
}
.info-bottom-texts-admin-light a {
    color: black;
}
.info-bottom-texts-admin-dark a {
    color: white;
}
.info-bottom-texts-admin-light a:hover,
.info-bottom-texts-admin-dark a:hover {
    color: var(--global-default-tomara-color);
}
